/* 搜索功能基础样式 */
.search-container {
    position: relative;
    display: flex;
}

.search-input-container {
    display: none;
    background: white;
    border: none;
    border-radius: 4px;
    padding: 0px;
}

.search-input {
    min-width: 200px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    margin-left: 4px;
    display: none;
    /* 初始隐藏 */
}

.header-search-close {
    display: none;
    /* 初始隐藏清空按钮 */
}

.search-results-popup {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    z-index: 1001;
    background: var(--box-box-normal-Background-whiteOnly);
    overflow-y: auto;
    border-radius: var(--border-radius-border-radius-middle, 8px);
    border: 1px solid var(--border-border-normal-light, #E1E1E1);
    background: var(--box-box-normal-Background-whiteOnly, #FFF);
    /* BasicShadow/BasicShadow-Level3 */
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    width: 80vw;
    max-width: 400px;
    max-height: 400px;
    min-height: 300px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(2px) scale(0.98);
    transform-origin: top right;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out, transform 0.2s ease-out;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

.search-results-popup.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(8px) scale(1);
}

.header-search-result-item {
    padding: var(--padding-padding-big);
    border-bottom: 1px solid var(--border-border-normal-light);
    transition: 250ms;
}

.header-search-result-item:nth-last-child(1) {
    border-bottom: none;
}

.header-search-result-item:hover {
    background-color: var(--box-box-normal-lightbackground-white);
}

.header-search-result-item.selected {
    background-color: var(--box-box-normal-lightbackground-white) !important;

    .search-result-title {
        color: var(--text-text-theme-primary-black) !important;
    }
}

.header-search-result-item .search-result-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: var(--gap-gap-content-space);
    flex-direction: column
}

.header-search-result-item .search-result-tags {
    color: var(--text-text-normal-text-caption-black, #787878);

    /* Typography-Caption */
    font-family: "OPPO Sans 4.0";
    font-size: var(--size-size-small, 12px);
    font-style: normal;
    font-weight: var(--font-weight-regular, 400);
    line-height: var(--line-height-line-height-small, 16px);
    /* 133.333% */
    margin: 0px;
}

.header-search-results-content .search-no-results {
    padding: var(--padding-padding-default);
    text-align: center;
    height: 300px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap-gap-content-space);
    transition: 250ms;
}

.search-more-results {
    padding: var(--padding-padding-default);
    text-align: center;
    background-color: none;
}

.search-more-results.selected {
    background-color: var(--box-box-normal-lightbackground-white);
}

.search-more-link {
    color: var(--text-text-theme-primary-black);
    transition: 250ms;
}

.search-more-link:hover {
    opacity: 0.8;
}

mark {
    background-color: var(--box-box-theme-secondarybackground);
    padding: 0px;
    border-radius: 2px;
}

.searchTip {
    background-color: var(--box-box-normal-lightbackground-white);
    padding: var(--padding-padding-default) var(--padding-padding-big);
    position: sticky;
    bottom: 0;
    margin-top: auto;
    border-top: 1px solid var(--border-border-normal-light);
    border-radius: 0 0 var(--border-radius-border-radius-middle, 8px) var(--border-radius-border-radius-middle, 8px);
}

.header-search-results-content {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.search-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-gap-page-space, 24px);
    align-self: stretch;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    max-width: 800px;
    padding: var(--padding-padding-large, 16px);
    margin: 0 auto;
}

#search-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-gap-content-space);
    align-self: stretch;
    width: 100%;

    .uui-input {
        flex: 1;
    }
}

.searchContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-gap-page-space, 24px);
}

#search-results {
    display: flex;
    flex-direction: column;
    gap: var(--gap-gap-block-space, 8px);
    height: 100%;
}

.search-result-item {
    display: flex;
    padding: var(--padding-padding-large) var(--padding-padding-large);
    margin: 0 calc(0px - var(--padding-padding-large));
    flex-direction: column;
    gap: var(--gap-gap-content-space, 8px);
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid var(--border-border-normal-light, #E1E1E1);
    border-radius: var(--border-radius-border-radius-big);
    transition: 250ms;

    a {
        display: flex;
        gap: var(--gap-gap-content-space, 8px);
        align-items: flex-start;
        box-sizing: border-box;
        flex-direction: column
    }


}
.search-result-item:hover {
    background: var(--box-box-normal-lightbackground-white);
}

.search-result-item mark {
    background: none;
}

.no-results-container{
    text-align: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap-gap-page-space);
    transition: 250ms;
    height: 100%;
    margin-bottom: 80px;
    .uui-typeface{
        align-items: center
    }
}