/* Collection name: Color System */
/* Mode: Light */
:root {
  --primary-1: #fdebe3;
  --primary-2: #fbcebc;
  --primary-3: #f9ae96;
  --primary-4: #f79070;
  --primary-5: #f46e4d;
  --primary-6: #f2502c;
  --primary-7: #cb361c;
  --primary-8: #a02310;
  --primary-9: #751207;
  --primary-10: #4d0802;
  --success-1: #d5eddf;
  --success-2: #a2dfbd;
  --success-3: #74d0a1;
  --success-4: #4cc188;
  --success-5: #29b176;
  --success-6: #0d9e64;
  --success-7: #098b5d;
  --success-8: #057652;
  --success-9: #036047;
  --success-10: #014d3b;
  --error-1: #fae5e1;
  --error-2: #f7bfb9;
  --error-3: #f39a92;
  --error-4: #ef736c;
  --error-5: #eb4e49;
  --error-6: #e62929;
  --error-7: #c11a1d;
  --error-8: #9a0f16;
  --error-9: #72070e;
  --error-10: #4d0209;
  --warning-1: #fcf9e2;
  --warning-2: #f9efb8;
  --warning-3: #f6e58f;
  --warning-4: #f3d767;
  --warning-5: #f0cb42;
  --warning-6: #edba1f;
  --warning-7: #c79714;
  --warning-8: #9e720b;
  --warning-9: #745105;
  --warning-10: #4d3201;
  --info-1: #e3f7fd;
  --info-2: #bdeafb;
  --info-3: #97dcf9;
  --info-4: #73c9f7;
  --info-5: #50b5f4;
  --info-6: #309ef2;
  --info-7: #1f7acb;
  --info-8: #1156a0;
  --info-9: #083975;
  --info-10: #02204d;
  --neutral-1: #ffffff;
  --neutral-2: #f0f0f0;
  --neutral-3: #e1e1e1;
  --neutral-4: #d2d2d2;
  --neutral-5: #c3c3c3;
  --neutral-6: #b4b4b4;
  --neutral-7: #a5a5a5;
  --neutral-8: #969696;
  --neutral-9: #878787;
  --neutral-10: #787878;
  --neutral-11: #696969;
  --neutral-12: #5a5a5a;
  --neutral-13: #4b4b4b;
  --neutral-14: #3c3c3c;
  --neutral-15: #2d2d2d;
  --neutral-16: #1e1e1e;
  --neutral-17: #0f0f0f;
  --neutral-18: #000000;

  --info-info-1: #FFFFFFFF;
  --info-info-2: #F3F6FFFF;
  --info-info-3: #E3EDFFFF;
  --info-info-4: #D2E3FFFF;
  --info-info-5: #BED9FFFF;
  --info-info-6: #A8CDFFFF;
  --info-info-7: #8CBFFFFF;
  --info-info-8: #65A5EFFF;
  --info-info-9: #246EB5FF;
  --info-info-10: #00518EFF;
  --info-info-11: #003A69FF;
  --info-info-12: #002749FF;
  --info-info-13: #00172FFF;
  --info-info-14: #000000FF;
  --error-error-1: #FFFFFFFF;
  --error-error-2: #FFF0EFFF;
  --error-error-3: #FFDFDEFF;
  --error-error-4: #FFCDCBFF;
  --error-error-5: #FFB9B7FF;
  --error-error-6: #FFA19FFF;
  --error-error-7: #FF8282FF;
  --error-error-8: #FF3247FF;
  --error-error-9: #B80026FF;
  --error-error-10: #8C001BFF;
  --error-error-11: #690011FF;
  --error-error-12: #4C000AFF;
  --error-error-13: #320004FF;
  --error-error-14: #000000FF;
  --warning-warning-1: #FFFFFFFF;
  --warning-warning-2: #FFF7F2FF;
  --warning-warning-3: #FFEEE0FF;
  --warning-warning-4: #FFE5CCFF;
  --warning-warning-5: #FFDBB5FF;
  --warning-warning-6: #FFCF9BFF;
  --warning-warning-7: #FFC178FF;
  --warning-warning-8: #FFA524FF;
  --warning-warning-9: #AD6C00FF;
  --warning-warning-10: #804E00FF;
  --warning-warning-11: #5D3800FF;
  --warning-warning-12: #3F2400FF;
  --warning-warning-13: #261400FF;
  --warning-warning-14: #000000FF;
  --success-success-1: #FFFFFFFF;
  --success-success-2: #DEFFD6FF;
  --success-success-3: #C1FBBAFF;
  --success-success-4: #B7F0B0FF;
  --success-success-5: #ACE4A5FF;
  --success-success-6: #9FD799FF;
  --success-success-7: #91C88BFF;
  --success-success-8: #77AD73FF;
  --success-success-9: #437642FF;
  --success-success-10: #275928FF;
  --success-success-11: #0D4214FF;
  --success-success-12: #002E07FF;
  --success-success-13: #001B03FF;
  --success-success-14: #000000FF;
  --gray-gray-1: #FEFBFBFF;
  --gray-gray-2: #FDFAFAFF;
  --gray-gray-3: #FBF8F8FF;
  --gray-gray-4: #F8F5F5FF;
  --gray-gray-5: #F2EFEFFF;
  --gray-gray-6: #ECE9E9FF;
  --gray-gray-7: #E3E0E0FF;
  --gray-gray-8: #DAD7D7FF;
  --gray-gray-9: #CECBCBFF;
  --gray-gray-10: #C1BEBEFF;
  --black-black-1: #5F5957FF;
  --black-black-2: #5B5553FF;
  --black-black-3: #564F4EFF;
  --black-black-4: #504948FF;
  --black-black-5: #494341FF;
  --black-black-6: #423B3AFF;
  --black-black-7: #3B3433FF;
  --black-black-8: #332C2BFF;
  --black-black-9: #2B2423FF;
  --black-black-10: #231C1BFF;
  --primary-primary-1: #FFFFFFFF;
  --primary-primary-2: #FFF2EFFF;
  --primary-primary-3: #FFE3DDFF;
  --primary-primary-4: #FFD4CAFF;
  --primary-primary-5: #FFC2B4FF;
  --primary-primary-6: #FFAE9BFF;
  --primary-primary-7: #FF947AFF;
  --primary-primary-8: #FF5C36FF;
  --primary-primary-9: #BB2C07FF;
  --primary-primary-10: #8F1C00FF;
  --primary-primary-11: #6A1200FF;
  --primary-primary-12: #4B0A00FF;
  --primary-primary-13: #310400FF;
  --primary-primary-14: #000000FF;
}



/* Collection name: base-numbers */
:root {
  --size-size-small: 12px;
  --size-size-tiny: 10px;
  --size-size-regular: 14px;
  --size-size-middle: 16px;
  --size-size-big: 18px;
  --size-size-large: 24px;
  --size-size-huge: 28px;
  --size-size-max: 32px;
  --size-size-semilarge: 20px;
  --border-radius-border-radius-none: 0;
  --border-radius-border-radius-small: 6px;
  --border-radius-border-radius-middle: 8px;
  --border-radius-border-radius-big: 12px;
  --border-radius-border-radius-large: 16px;
  --border-radius-border-radius-allround: 99px;
  --border-thickness-border-thickness-none: 0;
  --border-thickness-border-thickness-default: 1px;
  --border-thickness-border-thickness-middle: 2px;
  --border-thickness-border-thickness-large: 3px;
  --line-height-line-height-tiny: 12px;
  --line-height-line-height-small: 16px;
  --line-height-line-height-regular: 18px;
  --line-height-line-height-middle: 20px;
  --line-height-line-height-big: 22px;
  --line-height-line-height-semilarge: 26px;
  --line-height-line-height-large: 30px;
  --line-height-line-height-max: 44px;
  --line-height-line-height-huge: 38px;
  --gap-gap-inside-space: 4px;
  --gap-gap-none: 0px;
  --gap-gap-inside: 2px;
  --gap-gap-component-space: 6px;
  --gap-gap-content-space: 8px;
  --gap-gap-block-space: 12px;
  --gap-gap-chapter-space: 16px;
  --gap-gap-page-space: 24px;
  --padding-padding-tiny: 4px;
  --padding-padding-small: 6px;
  --padding-padding-default: 8px;
  --padding-padding-middle: 10px;
  --padding-padding-big: 12px;
  --padding-padding-large: 16px;
  --padding-padding-min: 2px;
  --border-radius-border-radius-extra-small-2: 4px;
  --padding-padding-none: 0px;
  --transparency-transparency-loading: 60;
  --transparency-transparency-disable: 55;
  --transparency-transparency-placeholder: 60;
  --padding-padding-max: 24px;
}

/* Collection name: font-weight */
:root {
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-semilight: 350;
}

/* Collection name: token-colors */
/* token-colors - Mode 1 */
:root {
  --text-text-theme-primary-black: var(--primary-primary-10);
  --text-text-theme-secondary-black: var(--primary-primary-7);
  --text-text-theme-light-black: var(--primary-primary-5);
  --text-text-success-primary-black: var(--success-success-10);
  --text-text-success-secondary-black: var(--success-success-7);
  --text-text-success-light-black: var(--success-success-5);
  --text-text-infomation-primary-black: var(--info-info-10);
  --text-text-infomation-secondary-black: var(--info-info-7);
  --text-text-infomation-light-black: var(--info-info-5);
  --text-text-fail-primary-black: var(--error-error-10);
  --text-text-fail-secondary-black: var(--error-error-7);
  --text-text-fail-light-black: var(--error-error-5);
  --text-text-warning-primary-black: var(--warning-warning-10);
  --text-text-warning-secondary-black: var(--warning-warning-7);
  --text-text-warning-light-black: var(--warning-warning-5);
  --text-text-normal-title-black: var(--black-black-10);
  --text-text-normal-text-black: var(--black-black-7);
  --text-text-normal-text-caption-black: var(--black-black-3);
  --text-text-normal-title-white: var(--gray-gray-1);
  --text-text-normal-text-white: var(--gray-gray-1);
  --text-text-normal-text-caption-white: var(--gray-gray-1);
  --box-box-normal-lightBackground-black: var(--black-black-10);
  --box-box-normal-lightBackground-white: var(--gray-gray-4);
  --box-box-normal-Background-blackOnly: var(--black-black-10);
  --box-box-normal-Background-whiteOnly: var(--gray-gray-1);
  --box-box-theme-primaryBackground: var(--primary-primary-8);
  --box-box-theme-secondaryBackground: var(--primary-primary-3);
  --box-box-theme-lightBackground: var(--primary-primary-2);
  --box-box-success-primaryBackground: var(--success-success-8);
  --box-box-success-secondaryBackground: var(--success-success-3);
  --box-box-success-lightBackground: var(--success-success-2);
  --box-box-infomation-primaryBackground: var(--info-info-8);
  --box-box-infomation-secondaryBackground: var(--info-info-3);
  --box-box-infomation-lightBackground: var(--info-info-2);
  --box-box-warning-primaryBackground: var(--warning-warning-8);
  --box-box-warning-secondaryBackground: var(--warning-warning-3);
  --box-box-warning-lightBackground: var(--warning-warning-2);
  --box-box-fail-primaryBackground: var(--error-error-8);
  --box-box-fail-secondaryBackground: var(--error-error-3);
  --box-box-fail-lightBackground: var(--error-error-2);
  --border-border-theme-primary: var(--primary-primary-8);
  --border-border-infomation-primary: var(--info-info-8);
  --border-border-warning-primary: var(--warning-warning-8);
  --border-border-fail-primary: var(--error-error-8);
  --border-border-success-primary: var(--success-success-8);
  --border-border-normal-primary: var(--gray-gray-8);
  --border-border-normal-light: var(--gray-gray-6);
  --normal-background-theme: var(--gray-gray-2);
}

/* control - default */
:root {
  --control-normal-Background-deep: var(--gray-gray-8);
  --control-normal-lightBackground-deep: var(--gray-gray-6);
  --control-normal-lightBackground-light: var(--gray-gray-5);
  --control-normal-Background-blackOnly: var(--black-black-10);
  --control-normal-lightBackground-whiteOnly: var(--gray-gray-1);
  --control-theme-Background: var(--primary-primary-8);
  --control-theme-lightBackground: var(--primary-primary-4);
  --control-success-Background: var(--success-success-8);
  --control-success-lightBackground: var(--success-success-4);
  --control-infomation-Background: var(--info-info-8);
  --control-infomation-lightBackground: var(--info-info-2);
  --control-fail-Background: var(--error-error-8);
  --control-fail-lightBackground: var(--error-error-2);
  --control-warning-Background: var(--warning-warning-8);
  --control-warning-lightBackground: var(--warning-warning-2);
}

:root{
  --controlEffect-Light:0 -0.5px 0 0 rgba(0, 0, 0, 0.04) inset;
  --controlEffect-Basic:0 0 1px 0 rgba(0, 0, 0, 0.12), 0 -1px 0 0 rgba(0, 0, 0, 0.08) inset;
}

/* event */
:root {
  --event-color-theme-color-1: #FFFFFFFF;
  --event-color-theme-color-2: #85FEBBFF;
  --event-color-theme-color-3: #6CE5A4FF;
  --event-color-theme-color-4: #53CD8EFF;
  --event-color-theme-color-5: #36B579FF;
  --event-color-theme-color-6: #0D9E64FF;
  --event-color-theme-color-7: #007548FF;
  --event-color-theme-color-8: #004F2FFF;
  --event-color-theme-color-9: #002B18FF;
  --event-color-theme-color-10: #000000FF;
  --eventBlack-black-1: #EDF4E8FF;
  --eventBlack-black-2: #ECF3E7FF;
  --eventBlack-black-3: #EAF1E5FF;
  --eventBlack-black-4: #E7EDE2FF;
  --eventBlack-black-5: #E2E9DDFF;
  --eventBlack-black-6: #DEE4D9FF;    
  --eventBlack-black-7: #D8DED3FF;
  --eventBlack-black-8: #D2D7CDFF;
  --eventBlack-black-9: #CBD0C6FF;
  --eventBlack-black-10: #C3C8BEFF;
  --eventBlack-black-11: #BBC0B6FF;
  --eventBlack-black-12: #B2B6ADFF;
  --eventBlack-black-13: #A9ADA4FF;
  --eventBlack-black-14: #9FA29AFF;
  --eventBlack-black-15: #94978FFF;
  --eventBlack-black-16: #898C84FF;
  --eventBlack-black-17: #7E7F79FF;
  --eventBlack-black-18: #72736DFF;
  --eventBlack-black-19: #656660FF;
  --eventBlack-black-20: #585853FF;
  --eventBlack-black-21: #4B4A46FF;
  --eventBlack-black-22: #3D3B38FF;
  --eventBlack-black-23: #2E2C29FF;
  --eventBlack-black-24: #1F1C1AFF;
}